
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-offset-4 col-md-10">
    <h2>GRAB Quản Lý Hàng Hóa</h2>
</div>
<div class="col-md-offset-2 col-md-10">
    <h3>Dù tình hình diễn biến khó lường, chúng tôi vẫn luôn đồng hành cùng bạn</h3>
</div>
<div style="margin-left:20px;font-size:20px;">
  
    <body class="press-template-default single single-press postid-104836 translatepress-vi site-id-11 vigrab-chao-mung-cot-moc-tro-thanh-cong-ty-niem-yet-dai-chung-voi-nhan-vien-cong-ty-va-doi-tac-tai-le-rung-chuong-tren-san-nasdaq-duoc-to-chuc-lan-dau-tien-o-dong-nam-aengrab-celebrates-publi elementor-default elementor-kit-60154">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54DG5SF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

        <div id="top" data-no-translation="">
            <div class="container">

              
                
            <main role="main" class="offset-top mainBlog pressDetails">
                <div class="container">
                    <div class="row visible-xs">
                        <h2 class="blogH">Press Centre</h2>
                    </div>
                    <div class="visible-xs" style="height:90px"></div>

                    <div class="row">
                        <div class="col-xs-12 col-md-8 leftBar">

                            <article id="post-104836" class="panel panel-default panel-article bigBx category-blog post-104836 press type-press status-publish hentry press_categories-others">

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-7"><span class="post-cat"><strong>Others</strong></span></div>
                                        <div class="col-xs-5"><span class="post-date pull-right">Tháng Mười Hai 2, 2021</span></div>
                                    </div>


                                    <h2>Grab chào mừng cột mốc trở thành công ty niêm yết đại chúng với nhân viên công ty và đối tác tại Lễ Rung Chuông trên sàn NASDAQ được tổ chức lần đầu tiên ở Đông Nam Á</h2>
                                    <!--<h3 style='color:red;border:2px solid red;padding:20px'>Excerpt here. Allow the user to have fully control on excerpt</h3>-->
                                    <div class="row">
                                        <div class="col-xs-12 post-excerpt">
                                            <p>SINGAPORE – ngày 02 tháng 12 năm 2021 – Grab Holdings Limited (Mã Nasdaq: GRAB) (“Grab”), một siêu ứng dụng hàng đầu Đông Nam Á, hôm nay chào mừng cột mốc trở thành công ty đại chúng cùng với nhân […]</p>
                                        </div>
                                    </div>

                                    <!--<div class="panel-hero bg-size-cover" style="background-image: url(https://assets.grab.com/wp-content/uploads/sites/11/2021/12/02235058/Grab_DSC3756.-1jpg.jpg);"></div>-->
                                    <div>
                                        <img src="https://assets.grab.com/wp-content/uploads/sites/11/2021/12/02235058/Grab_DSC3756.-1jpg.jpg" class="img-responsive press-hero-image">
                                    </div>


                                    <div class="panel-body">

                                        <p><b>SINGAPORE </b><span style="font-weight: 400">–</span> <span style="font-weight: 400">ngày 02 tháng 12 năm 2021 – Grab Holdings Limited (Mã Nasdaq: GRAB) (“Grab”), một siêu ứng dụng hàng đầu Đông Nam Á</span><span style="font-weight: 400">, hôm nay chào mừng cột mốc trở thành công ty đại chúng cùng với nhân viên, đối tác tài xế, đối tác giao hàng, đối tác thương nhân trong Lễ Rung Chuông trên sàn Nasdaq được tổ chức lần đầu tiên tại khu vực Đông Nam Á.&nbsp;</span></p>
                                        <p><span style="font-weight: 400">Ông Anthony Tan và bà Tan Hooi Ling, hai nhà Đồng sáng lập Grab, đã có mặt tại Lễ Rung Chuông cùng với đại diện của cộng đồng đối tác tài xế, đối tác giao hàng, đối tác thương nhân, những người ở tuyến đầu để vận chuyển hành khách, chuẩn bị món ăn và giao nhận hàng hoá, thực phẩm, đặc biệt trong giai đoạn giãn cách xã hội để phòng chống đại dịch Covid-19 vừa qua. Những đối tác này đã tham gia vào nền tảng Grab để có cơ hội tận dụng các dịch vụ số, từ đó có thêm cơ hội thu nhập và phát triển hoạt động kinh doanh.</span></p>
                                        <p><span style="font-weight: 400">Nhân viên Grab cũng tham gia vào sự kiện, bao gồm nhiều người đã gắn bó với công ty hơn 6 năm qua (được gọi là ‘Grabversaurus’ trong nội bộ công ty). Những ‘Grabversaurus’ này đã gia nhập Grab khi công ty chỉ mới cung cấp các dịch vụ di chuyển và hoạt động tại khoảng 30 thành phố; họ đã đóng vai trò quan trọng đưa công ty phát triển thành một siêu ứng dụng hoạt động tại 465 thành phố khắp Đông Nam Á ngày hôm nay. Để ghi nhận sự đóng góp của nhân viên và sự ủng hộ của đối tác trong cột mốc ý nghĩa này, hình ảnh của khoảng 1.500 nhân viên Grab và đối tác Grab khắp Đông Nam Á đã được trình chiếu trên tòa nhà Nasdaq tại Quảng trường Thời đại, thành phố New York, sau khi Grab chính thức niêm yết trên sàn Nasdaq.</span></p>
                                        <p><span style="font-weight: 400">Ông </span><b>Anthony Tan, CEO Tập đoàn và Đồng sáng lập Grab,</b><span style="font-weight: 400"> cho biết: “Điều quan trọng là chúng tôi phải luôn nhớ rõ điều gì đã giúp Grab đạt được thành công hôm nay. Đó là nhiệt huyết và sự nỗ lực của tất cả nhân viên Grab dành cho đối tác, và đổi lại, đó là sự tận tụy của các đối tác để phục vụ người dùng. Đó cũng là lý do vì sao chúng tôi tổ chức buổi lễ này ngay tại ngôi nhà chung Đông Nam Á. Để được có mặt tại đây, cùng với cộng đồng Grab, chia sẻ khoảnh khắc này với họ khi chúng tôi sắp bước sang một chương mới trong cuộc hành trình của mình.”</span></p>
                                        <p><span style="text-decoration: underline"><b>Phát biểu của đối tác Grab đã tham gia vào buổi Lễ Rung Chuông</b></span></p>
                                        <p><span style="font-weight: 400">“Chúc mừng Grab đã đạt được cột mốc tuyệt vời này, đây là minh chứng và cũng là niềm cảm hứng cho các công ty công nghệ tại Đông Nam Á có thể phát triển và đạt được thành công trên thị trường thế giới. Chúng tôi tin rằng việc Grab chính thức niêm yết ngày hôm nay sẽ góp phần thu hút thêm nhiều sự chú ý và mang đến thêm nhiều cơ hội hơn nữa cho khu vực đang phát triển nhanh chóng này, và rất trông đợi sẽ được hợp tác chặt chẽ hơn nữa với Grab tại Việt Nam để triển khai thêm nhiều sáng kiến ý nghĩa nhằm thúc đẩy chuyển đổi số, phát triển lĩnh vực hàng không và công nghệ di động.”</span></p>
                                        <p style="text-align: right"><b>Bà Nguyễn Thị Phương Thảo, Chủ tịch Tập đoàn Sovico&nbsp;</b></p>
                                        <p><span style="font-weight: 400">“Tôi bắt đầu làm đối tác tài xế của Grab từ năm 2019 vì có thời gian chạy xe linh hoạt, thu nhập lại ổn định đủ để tôi có thể chăm sóc cho ông xã đang bị bệnh. Nhờ chạy Grab, cuộc sống của tôi không chỉ khấm khá hơn trước mà còn tôi còn trở thành một thành viên trong cộng đồng tài xế Grab, nơi các anh chị em luôn hỗ trợ và giúp đỡ lẫn nhau. Cũng nhờ có Grab, lần đầu tiên tôi biết dùng điện thoại thông minh, rồi từ đó tôi học thêm được nhiều công nghệ và kỹ năng mới để có thu nhập tốt hơn. Tôi rất vui được tham gia vào buổi lễ này, và mong là Grab sẽ giúp thêm nhiều người ở Đông Nam Á có thêm nhiều ‘lần đầu tiên’ như tôi.”</span></p>
                                        <p style="text-align: right"><b>Chị Nguyễn Thị Luyến, đối tác tài xế Grab</b></p>
                                        <p><span style="font-weight: 400">“Năm 2020 khó khăn với tôi lắm, do ảnh hưởng của dịch COVID-19 mà chợ Bến Thành vắng khách hẳn. Đầu năm 2021, tôi bắt đầu hợp tác với GrabMart và đó là lần đầu tiên tôi có được một cửa hàng trực tuyến trên một nền tảng số. Tôi rất vui vì được học thêm về công nghệ và biết nhiều kỹ năng mới, có thêm khách hàng và tăng doanh thu. Tất cả là nhờ có GrabMart. Hôm nay được tham gia buổi lễ này tôi thấy rất vui, chúc Grab tiếp tục phát triển để mang đến thêm nhiều cơ hội cho nhiều người dân Việt Nam.”</span></p>
                                        <p style="text-align: right"><b>Chị Nguyễn Thị Ngọc Dung, đối tác thương nhân của GrabMart&nbsp;</b></p>
                                        <p><span style="font-weight: 400">Để xem hình ảnh và các thông tin khác liên quan đến Lễ Rung Chuông, vui lòng truy cập <a href="https://drive.google.com/drive/folders/1EGgCOGm6cBx8XvH_FPQlQqy47haYYTn1">tại đây</a></span><span style="font-weight: 400">.&nbsp;Lưu ý rằng đường dẫn này sẽ tiếp tục được cập nhật suốt ngày 02/12/2021. Để xem các hình ảnh, video chung về Grab, hình ảnh và tiểu sử lãnh đạo, vui lòng truy cập </span><a href="https://www.grab.com/sg/pressdownload/"><span style="font-weight: 400">Press Center</span></a><span style="font-weight: 400"> của Grab.</span></p>
                                        <p></p>


                                    </div><!-- /panel-body -->
                                </div>
                            </article>

                        </div>

                        <div class="col-xs-12 col-md-4 rightBar" data-no-translation="">

                            <div class="panel panel-default panel-article post-6800 post type-post status-publish format-standard hentry category-blog">
                                <div class="panel-body">
                                    <h2 class="box-title">Xem tin tức các nước khác</h2>
                                    <div id="dd" class="wrapper-dropdown-5 vn" tabindex="1">
                                        <div class="selected">Việt Nam</div>
                                        <ul>
                                            <li><a href="https://www.grab.com/sg/press/" >Singapore</a></li>
                                            <li><a href="https://www.grab.com/my/press/" >Malaysia</a></li>
                                            <li><a href="https://www.grab.com/id/press/" >Indonesia</a></li>
                                            <li><a href="https://www.grab.com/th/press/" >Thailand</a></li>
                                            <li><a href="https://www.grab.com/ph/press/" >Philippines</a></li>
                                            <li><a href="https://www.grab.com/vn/press/" >Vietnam</a></li>
                                            <li><a href="https://www.grab.com/mm/press/" >Myanmar</a></li>
                                            <li><a href="https://www.grab.com/kh/press/" >Cambodia</a></li>
                                        </ul>
                                    </div>

                                </div><!-- /panel-body -->
                            </div>

                            <div class="get_current_blog_id" style="display:none">11</div>
                            <div class="panel panel-default panel-article post-6800 post type-post status-publish format-standard hentry category-blog hidden-xs">
                                <div class="panel-body">
                                    <h2 class="box-title">Thư viện thông tin báo chí</h2>
                                    <a href="https://www.grab.com/vn/pressdownload/" class="actionBtn">Tải về thông tin báo chí của Grab</a>

                                </div><!-- /panel-body -->
                            </div>

                            <div class="panel panel-default panel-article post-6800 post type-post status-publish format-standard hentry category-blog">

                                <div class="panel-body">
                                    <h2 class="box-title">Liên hệ truyền thông</h2>

                                    <a href="" class="actionBtn" data-toggle="modal" data-target="#contactModal">Liên hệ Đội ngũ Truyền thông của Grab</a>

                                </div><!-- /panel-body -->
                            </div>
                            <a href="#" title="" class="blogHyperlink">
                            </a><article id="post-6800" class="panel panel-default panel-article post-6800 post type-post status-publish format-standard hentry category-blog">
                                <a href="#" title="" class="blogHyperlink">

                                </a><div class="panel-hero midBx bg-size-cover" style="background-image: url(https://www.grab.com/sg/wp-content/uploads/sites/4/2016/08/passenger_stories.png);">
                                    <a href="#" title="" class="blogHyperlink">
                                    </a><div class="coverDiv">
                                        <a href="#" title="" class="blogHyperlink">
                                         
                                        </a><a href="https://www.grab.com/vn/blog" class="readBtnCls"></a>
                                    </div>
                                </div>

                            </article>


                            <a href="#" title="" class="blogHyperlink">
                            </a><article id="post-6800" class="panel panel-default panel-article post-6800 post type-post status-publish format-standard hentry category-blog">
                                <a href="#" title="" class="blogHyperlink">

                                </a><div class="panel-hero midBx bg-size-cover" style="background-image: url(https://www.grab.com/sg/wp-content/uploads/sites/4/2016/08/engineering_stories.jpg);">
                                    <a href="#" title="" class="blogHyperlink">
                                    </a><div class="coverDiv">
                                        <a href="#" title="" class="blogHyperlink">
                                            
                                        </a><a href="http://engineering.grab.com/" class="readBtnCls" target="_blank" rel="noopener noreferrer"></a>
                                    </div>
                                </div>

                            </article>

                            <a href="https://www.grab.com/vn/press/social-impact-safety/grab-trao-tang-gan-80-tan-gao-va-8-000-thung-mi-goi-ho-tro-doi-tac-tai-xe-vuot-qua-kho-khan-trong-dich-covid-19/" title="" class="blogHyperlink">
                                <article id="post-62662" class="panel panel-default panel-article category-blog post-62662 press type-press status-publish hentry press_categories-social-impact-safety">

                                   


                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <span class="post-cat">
                                                    <strong>
                                                        An toàn và Xã hội
                                                    </strong>
                                                </span>
                                            </div>
                                            <div class="col-xs-5"><span class="post-date pull-right">Tháng Tư 13, 2020</span></div>
                                        </div>

                                        <h2>Grab trao tặng gần 80 tấn gạo và 8.000 thùng mì gói, hỗ trợ đối tác tài xế vượt qua khó khăn trong dịch COVID-19</h2>
                                        <p></p><li>
                                            <em>
                                                Trao tặng gần 80 tấn gạo và 8.000 thùng mì gói cho đối tác tài xế Grab có hoàn cảnh khó khăn, tiếp sức cho đối tác vượt qua dịch COVID-19.
                                            </em>
                                        </li><li>
                                            <em>
                                                <em>
                                                    Đây là một trong những hoạt động thuộc chương trình “Cùng Grab chung tay - Vững vàng vượt khó”, trích từ khoản ngân sách 70 tỷ đồng đã được Grab công bố trước đó.<p></p>
                                                </em>
                                            </em>
                                        </li>
                                    </div><!-- /panel-body --><em>
                                        <em>
                                        </em>
                                    </em>
                                </article><em>
                                    <em>
                                    </em>
                                </em>
                            </a><em>
                                <em>


                                    <a href="https://www.grab.com/vn/press/business/vigrab-bo-nhiem-ba-nguyen-thai-hai-van-lam-giam-doc-dieu-hanh-cua-grab-tai-viet-namengrab-appoints-nguyen-thai-hai-van-as-managing-director-of-grab-in-vietnam/" title="" class="blogHyperlink">
                                        <article id="post-56329" class="panel panel-default panel-article category-blog post-56329 press type-press status-publish hentry press_categories-business">

                                            <div class="panel-hero bg-size-cover" style="background-image: url(https://assets.grab.com/wp-content/uploads/sites/11/2020/01/20141743/Ba-Nguyen-Thai-Hai-Van-Giam-doc-Dieu-hanh-Grab-Vietnam.jpg);"></div>


                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-7">
                                                        <span class="post-cat">
                                                            <strong>
                                                                Doanh nghiệp
                                                            </strong>
                                                        </span>
                                                    </div>
                                                    <div class="col-xs-5"><span class="post-date pull-right">Tháng Một 13, 2020</span></div>
                                                </div>

                                                <h2>Grab bổ nhiệm bà Nguyễn Thái Hải Vân làm Giám đốc Điều hành của Grab tại Việt Nam</h2>
                                                <p></p><li>
                                                    <em>
                                                        Ông Jerry Lim, Tổng Giám đốc Grab Việt Nam, sẽ đảm nhiệm vai trò mới là Giám đốc Vùng, tập trung đẩy mạnh các chương trình tự động hóa và trí tuệ nhân tạo trong các hoạt động chăm sóc khách hàng trên nền tảng siêu ứng dụng Grab toàn khu vực Đông Nam Á.<p></p>
                                                    </em>
                                                </li>
                                            </div><!-- /panel-body --><em>
                                            </em>
                                        </article><em>
                                        </em>
                                    </a>
</main>
</body>

</div>